@font-face {
	font-family: Lato; /* Имя шрифта */
	/*todo: relative path*/
	src: url(D:/JavaScriptCourses2020/singolo/assets/fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
	src: url(D:/JavaScriptCourses2020/singolo/assets/fonts/Lato-Semibold.ttf);
}

body {
	margin: 0;
	font-family: Lato, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	/*
	___________header_____________
	background-color: #2d303a; header
	background-color: #323746; line under header
	background-color: #494e62; points in header
	background-color: #f06c64; nav text
	______________main__________
	background-color: #f06c64; main background
	background-color: #ca4549; arrows
	background-color: #ea676b; line under main
	____________services____________
	background-color: #f2f2f2; services background
	background-color: #666d89; services text

	                           */
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/*padding: 17px 30px;*/ /*ToDo*/
	padding-top: 17px;
	padding-bottom: 17px;
	background-color: #2d303a;
	color: white;
}

.navbar-bottom-line {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	height: 8px; /*ToDo*/
	background-color: #323746;
}

.container {
	width: 100%;
	/*padding-right: 15px;
	padding-left: 15px;*/
	margin-right: auto;
	margin-left: auto;
	/*display: inline-block;*/
	width: 100%;
	box-sizing: border-box;
}

.logo {
	display: inline-block;
	float: left;
	font-size: 20px;
	margin-left: 60px;
}

.logo h1{
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-nav {
	/*display: -ms-flexbox;*/
	display: inline-block;
	/*-ms-flex-direction: column;
	flex-direction: column;*/
	/*margin-left: auto;
	margin-bottom: 0;*/
	margin-right: 12px;
	padding-top: 38px;
	float: right;
	/*clear: right;*/
}

.nav-list {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #494e62;
}

.nav-list li {
	float: left;
	margin: 0;
	padding-left: 8px;
	padding-right: 33px;
	font-size: 10px;
}

.nav-list li span {
	color: white;
	font-size: 16px; /*ToDo*/
}

.nav-item-first {
	list-style: none;
}

.nav-item a:hover {
	/*background: #786b59;*/ /* Цвет фона под ссылкой */
	color: #f06c64; /* Цвет ссылки */
}

.nav-item li a:active {
	color: #f06c64; /* Цвет ссылки */
}

.circle {
	background-color: green;
}

.main {
	background-color: red;
}

.highlight {
	color: #f06c64;
}

.mr-auto {
	margin-right: auto !important;
}

